* {
  margin: 0;
  padding: 0;
}
.main-container {
  background-color: #727358;
  height: 620px;
  /* display: flex;
  align-items: center;
  justify-content: center; */
}
header {
  color: white;
  margin-left: 200px;
  width: 220px;
}
header a:link {
  color: green;
  background-color: transparent;
  text-decoration: none;
}
.login {
  display: flex;
  align-items: center;
  justify-content: center;
}

ol {
  margin-left: 10px;
  list-style: none;
  font-size: 20px;
  font-family: Arial, Helvetica, sans-serif;
}
button {
  color: black;
  background-color: yellow;
}

input {
  display: inline;
  height: 30px;
  width: 200px;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 12px;
}
label {
  color: yellow;
  font-size: 18px;
}

.imgDes {
  margin-left: 50px;
  margin-top: 20px;
  height: 400px;
  width: 90%;
  display: inline;
}

.ulDes {
  margin-left: 220px;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 20px;
  list-style: square;
}
.body {
  background-color: #595873;
  color: white;
  height: 700px;
}
footer {
  padding-left: 400px;
  align-items: center;
  background-color: #727358;
  color: white;
}
footer img {
  padding-top: 50px;
  height: 50px;
  margin-left: 100px;
  width: 50px;
}
footer p {
  padding-left: 40px;
  margin-top: 20px;
  font-size: 30px;
  font-family: Arial, Helvetica, sans-serif;
}
footer a:link {
  text-decoration: none;
}
nav {
  margin-top: 10px;
  border: yellow solid 2px;
  padding-top: 12px;
  padding-left: 60px;
  background-color: #595873;
  font-size: 24px;
  height: 50px;
}
nav a:link {
  margin-left: 10px;
  text-decoration: none;
  color: yellow;
}

header a:link {
  margin-left: 10px;
  text-decoration: none;
  color: yellow;
}
